body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    background-color: aquamarine;
    top: 0;
    padding: 50px;
    position: fixed;
    padding-inline: 700px;
    height: 50px;
    

}
#título {
    text-align:center;
    position: fixed;
    left: 20em;
}
